
img{
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.left{
    background-color: #003FA7;
}

.left h2,li,a {
    color: white;
}

.left h2{
    text-align: center;
}

a{
    text-decoration: none;
}

.right h1{
    font-size: 250%;
    color: #003FA7;
}

progress{
    
}
